<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.frozen.dao.AdminOrderingDAO">

	<sql id="tables">
		<if test="table_name == 'tbl_license'"> tbl_license </if>
		<if test="table_name == 'tbl_timeline'"> tbl_timeline </if>
		<if test="table_name == 'tbl_program'"> tbl_program </if>
		<if test="table_name == 'tbl_program_img'"> tbl_program_img </if>
		<if test="table_name == 'tbl_skill'"> tbl_skill </if>
		<if test="table_name == 'tbl_activity'"> tbl_activity </if>
	</sql>
	
	<update id="setDataOrdering" parameterType="hashMap">
		update
			<include refid="tables" />
		set
			order_no = #{ after_no }
		where
			order_no = #{ before_no }
	</update>
	
	<select id="getSortingData" parameterType="hashMap" resultType="hashMap">
		select
			*
		from
			<include refid="tables" />
		order by
			order_no asc
	</select>
	
	<update id="setSortingData" parameterType="hashMap">
		update
			<include refid="tables" />
		set
			order_no = #{ after_no }
		where
			order_no = #{ before_no }	
	</update>
	
</mapper>